# User-specific stuff:
.idea/

# Locally generated python files
__pycache__/
venv/
/.cache/
.DS_Store

# Generated test files
**/.coverage
test-output

.project
.pydevproject
/storage-items/

.bash_history
